[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/foo
Description=Starts foo
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target
After=network.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=no
ExecStart=/etc/init.d/foo start
ExecStop=/etc/init.d/foo stop
PIDFile=/var/run/foo.pid

[Install]
WantedBy=multiuser.target
