[Unit]
Documentation=https://github.com/cargomedia/puppet-packages-ubuntu
SourcePath=/tmp/bar
Description=Exwecutes bar and outputs foo to file
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target
After=network.target

[Service]
Type=one-shot
Restart=no
TimeoutSec=5
IgnoreSIGPIPE=no
KillMode=process
RemainAfterExit=no
ExecStart=/tmp/bar

[Install]
WantedBy=multiuser.target
